// Size of sidebar portrait
.sidebar-about .avatar {
    width: 10rem;
    height: 10rem;
}

// Header font colour
h1, {
    color: rgb(0, 85, 160);
}

// Header margins
h1, h2 {
    margin-top: 35px;
}
